@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospacet;
}

label {
  display: block;
}

input {
  margin-bottom: 15px;
}

.game-status ul li {
  margin-right: 5px;
  list-style: none;
  display: inline;
}

.hidden {
  display: none;
}
