@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto mono";
}

label {
  display: block;
}

input {
  margin-bottom: 15px;
}

.game-status ul li {
  margin-right: 4px;
  list-style: none;
  display: inline;
}
